php_value date.timezone 'Europe/Paris'

RewriteEngine On
RewriteBase /

#processes
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^processes/(.*)$ index.php?p=processes&action=$1 [L]


#user messages
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(?!admin|processes)user/([0-9]+)/messages/([0-9]+)$ index.php?p=user&id=$1&messages=messages&msg_id=$2 [L]

#discover part/ type/catégorie/oeuvre
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^discover/(.*)/(.*)/([0-9]+)$ index.php?p=discover&type=$1&category=$2&id=$3 [L]

RewriteRule ^discover/(.*)/(.*)$ index.php?p=discover&type=$1&category=$2 [L]

RewriteRule ^discover/(.*)$ index.php?p=discover&type=$1 [L]



#page avec id ex. /user/1
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(?!admin|processes)(.*)/([0-9]+)$ index.php?p=$1&id=$2 [L]

#édition du profil
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(?!admin|processes)(.*)/([0-9]+)/edit$ index.php?p=$1&id=$2&edit=edit [L]

#messagerie
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(?!admin|processes)(.*)/([0-9]+)/messages$ index.php?p=$1&id=$2&messages=messages [L]


#standard page
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(?!admin|view|book|movie|exposition)(.*)$ index.php?p=$1 [L]

#messagerie admin
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/messages/([0-9]+)$ index.php?cat=admin&p=messages&id=$1 [L]

#admin edit
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/(.*)/([0-9]+)/edit$ index.php?cat=admin&p=$1&id=$2&edit=edit [L]

#admin new
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/(.*)/new$ index.php?cat=admin&p=$1&new=new [L]

#admin pages
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/(.*)$ index.php?cat=admin&p=$1 [L]


#admin défaut
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin$ index.php?cat=admin&p=dashboard [L]


#discover type
RewriteCond %{QUERY_STRING} !^p
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(book|movie|exposition)$ index.php?p=discover&type=$1 [L]




#ErrorDocument 404 index.php?p=404