//Colors
$dark-blue: #25283C;
$brown: #D99E7E;
$gray: #BDBCBA;
$green: #CEE8DF;
$dark-green: darken($green, 30%);
$teal: #70BEB1;

//Settings
$font-size: 14px;


$font-icon: 'cdc';

$main-font-name: 'Lato';
$main-font-family: $main-font-name, Arial, sans-serif;


$title-font-name: 'PlayfairDisplay';
$title-font-family: $title-font-name, Georgia, serif;