.discover{
  .category_nav{
    .small_title{
      margin-bottom: 10px;
      &:not(:first-child){
        margin-top: 20px;
      }
    }
    ul{
      li{
        @extend %valign;
        margin-right: 10px;
      }
    }
    margin-bottom: 20px;
    padding:0px 10px 20px;
    border-bottom: 1px solid $green;
    &[data]{
      border-bottom: none;
      margin-bottom:0px;
    }
  }
} 