.nav{
  box-sizing: border-box;
  padding: 10px 5vw;
  background-color: #fff;
  line-height: 50px;

    width: 100%;
  position: fixed;
  left: 0px;
  z-index: 2;


  &#main-nav{
    top: 0px;

    #searchThrough{
      position:absolute;
      top:0px;
      right:5vw;
      width: 0vw;
      height: 0px;
      overflow: hidden;
      line-height: 70px;
      background-color: #ffffff;
      z-index: 3;
      transition: opacity 0.4s ease;
      opacity: 0;
      visibility: hidden;
      &.active{
        height: 70px;
        width: 90vw;
        opacity: 1;
        visibility: visible;
      }
      @media (max-width: 1000px) {
        padding-top: 15px;
      }
      input{
        width: 100%;
      }
    }
    .nav_left, .nav_right{
      font-size: $font-size;
      font-family: $title-font-family;
      ul.row{
        margin-bottom: 0px;
        li{
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: ($font-size - 2px);
          a.active{
            border-bottom: 2px solid $green;
            display: inline-block;
            letter-spacing: 1px;
            font-weight: bold;
          }
        }
      }
    }

    .nav_right{
      text-align: right;
      .logout{
        @extend %valign;
        font-size: 18px;
        vertical-align: -5px;
      }
      .dropdown{
        .dropdown-me{
          z-index:3;
          position: absolute;
          background-color: #fff;
          line-height: 40px;
          width: 180px;
          left: 50%;
          transform: translateX(-50%);
          box-shadow: 0px 5px 8px $green;

          top: 0px;
          opacity:0;
          visibility: hidden;

          transition: all 0.4s ease;

          a{
            display: block;
            border-top: 1px solid $green;
            &:hover{
              background-color: $dark-green;
              color: #fff;
            }
          }
        }

        &:hover{
          .dropdown-me{
            top: 50px;
            opacity: 1;
            visibility: visible;
          }
        }

      }
    }
    
    .nav_center{
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
      img{
        display: block;
        margin: 0 auto;
        max-width: 100%; 
        max-height: 50px; 
      }

    }

    #searchbar{
      font-size: 18px;
      position: relative;
      z-index: 4;
      display: block;
      position: absolute;
      right: calc(5vw + 10px);
      top: 15px;
    }
    .responsiveMenu,.responsiveMenuClose{
      display: none;
    }
    @media (max-width: 1000px) {
      .responsiveMenu{
        display: block;
        border: none;
        background-color: transparent;
        height: 50px;
        margin-left: 15px;
        color: $dark-green;
      }
      .responsiveMenuClose{
        display: block;
      }
      #searchbar{
        top: 10px;
      }
      .responsiveMenu, #searchbar{
        font-size: 30px;
      }
      .responsiveListLinks{
        .responsiveMenuClose{
          position: fixed;
          top: 5vw;
          right: 5vw;
          border: none;
          background: transparent;
          font-size: 30px;
          color: $dark-green;
        }
        background: #fff;
        position: fixed;
        padding: 5vw;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 15px;
        z-index: 5;
        ul.row li, ul.row{
          text-align: left!important;
        }
        display: none;
      }
      .dropdown-me{
        display: none;
      }
    }
    @media (max-width: 1000px) {
      box-shadow: 0px 0px 10px rgba($dark-green, 0.7);
    }
    
  }
  &#secondary-nav{
    top: 70px;
    font-size: 0px;
    z-index:1;
    .nav_left, .nav_right{
      width: 50%;
      font-size: $font-size;
    }
    .nav_right{
      p{
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .nav_left, .nav_right,
    h2.small_title, .form-inline, p{
      @extend %valign;
    }
    h2.small_title, p{
      margin-right: 40px;
    }
    p{
      line-height: 1.3;

    }
    @media (max-width: 1000px) {
      display: none;
    }
  }
}