.profile{
  section{
    margin-bottom: 100px;
  }
  .profile-pic{
    img{
      display: block;
      width: 100%;
      border-radius: 5px;
    }
    @media (max-width: 1000px) {
      margin-bottom: 20px;
    }
  }
  .profile-info{
    h3{
      font-size: ($font-size + 8px);
      color: $brown;
    }
    p{
      margin-bottom: 10px;
      color: $dark-green;
    }
    .description{
      max-width: 500px;
      margin-bottom: 20px;
    }
  }
  
}